.pds-box
{
	width:168px;
	padding:0;
	font-size:small;
	margin-top:10px;
}

.pds-question
{
	font-weight:600;
	font-size:100%;
	color:#333;
	text-align:left;
}

.pds-answer
{
	text-align:left;
	padding:17px 0 3px;
	font-size:93%;
}

.pds-answer-group
{
	margin-bottom:4px;
	line-height:18px;
}

.pds-vote
{
	border-top:1px dotted #ccc;
	margin:10px 0 0;
	padding:10px 0 0;
	text-align:center;
}

.pds-vote-button
{
	background:transparent url('http://cooktv.sndimg.com/webcook/imgs/le/cc-ui.png?t=1311167616') left -264px no-repeat;
	cursor:pointer;
	text-decoration:none;
	font-family:Lucida Grande;
	font-weight:bold;
	font-size:11.23px;
	color:#fff;
	display:inline-block;
	width:40.55px;
	margin:5px 2px 5px 0;
	padding:0 0 0 7px;
}

.pds-vote-button span
{
	height:24px;
	display:block;
	line-height:23px;
	background:transparent url('http://cooktv.sndimg.com/webcook/imgs/le/cc-ui.png?t=1311167616') right -264px no-repeat;
	margin:0 -2px 0 2px;
	padding:0 9px 0 0;
	text-transform:uppercase;
}

.pds-links
{
	margin:10px 0 0;
	display:block;
}

.pds-links a
{
	text-decoration:none;
	color:#00649D;
	font-weight:600;
	font-size:100%;
}

.pds-radiobutton
{
	margin:3px 5px 0 0;
}